{% extends 'base.html.twig' %}
{% block body %}

{#    <div class="alert alert-danger">#}
{#        {{ 'test'|randomName }}#}
{#    </div>#}
    <table class="table">
        <tr>
            <th>Todo</th>
            <th>Description</th>
        </tr>
        {% for todo,description in app.session.get('todos') %}
            <tr class="{% if loop.index is odd %} table-primary {% else %} table-warning {% endif %}">
                <td>{{ todo }}</td>
                <td>{{ description }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
{% block title %}
    Liste des todos
{% endblock %}
{% block mainTitle %}
    TODO
{% endblock %}
{% block PageTitle %}
    Liste des TODO
{% endblock %}